table, th, td {
  border: 1px solid black;
}

html, body {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    flex-direction: column;
    display: flex;  
}

.container {
    width: 305px;
    padding: 20px;
    background-color: #1f2d2f;
    color: white;
    border-radius: 15px;
    cursor: pointer;

}

.container:hover {
    background-color: #2e4447;
}
